<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tag_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Tag_Manager.Properties.Settings>
            <setting name="defaultIP" serializeAs="String">
                <value>10.88.7.130</value>
            </setting>
            <setting name="defaultRack" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultSlot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultPath" serializeAs="String">
                <value>1,0</value>
            </setting>
            <setting name="defaultController" serializeAs="String">
                <value>ControlLogix</value>
            </setting>
            <setting name="defaultComm" serializeAs="String">
                <value>Allen-Bradley EthernetIP</value>
            </setting>
            <setting name="lastTagEntered" serializeAs="String">
                <value>Test_1D_DINTS</value>
            </setting>
        </Tag_Manager.Properties.Settings>
    </userSettings>
</configuration>